<main class="min-h-screen bg-[#12121e] py-8 px-4 sm:px-6 lg:px-8">
  <section class="mx-auto max-w-7xl">
    <section class="rounded-2xl bg-[#1d1d29] shadow-xl">
      <div class="mb-8">
        <app-search-bar (sendCity)="onReceivedCity($event)"></app-search-bar>
        <hr class="border-slate-700" />
      </div>

      <section>
        <app-current-weather
          [weatherData]="APIdata"
          [isLoading]="isLoading"
          (locationRequested)="onReceivedCity($event)"
        ></app-current-weather>
      </section>
    </section>

    <footer class="mt-8">
      <p class="text-teal-200 text-center">
        <a
          href="https://alejandro-sanchez.vercel.app/"
          target="_blank"
          class="hover:underline"
        >
          Developed by Alejandro Sánchez <i class="fa-solid fa-mug-hot"></i>
        </a>
      </p>

      <ul class="list-none flex justify-center lg:hidden mt-4 text-sky-50">
        <li>
          <a
            href="https://www.linkedin.com/in/alejandrosanchezgarcia/"
            target="_blank"
          >
            <i
              class="fa-brands fa-square-linkedin text-4xl cursor-pointer hover:scale-105 duration-200"
            ></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/alejandroszg" target="_blank">
            <i
              class="fa-brands fa-square-github text-4xl cursor-pointer hover:scale-105 duration-200"
            ></i>
          </a>
        </li>
      </ul>
    </footer>
  </section>
</main>
