<!-- Header -->
<header
  class="flex justify-between items-center flex-col sm:flex-row gap-x-10 mb-4 p-5 md:p-8 animate-fade-in animate-delay-100"
>
  <div class="w-auto">
    <h1
      class="text-4xl font-bold text-primary-600 dark:text-primary-400 sm:text-5xl text-center sm:text-left"
    >
      WeatherIO ☀️
    </h1>
    <p class="mt-2 text-surface-700 dark:text-surface-300">Check the weather on any city!</p>
  </div>
  <form
    class="flex items-center gap-4 pt-4 sm:py-0 w-full lg:w-3/6"
    (ngSubmit)="searchCity(cityInput.value)"
  >
    <p-iftalabel class="w-full">
      <input
        pInputText
        id="city"
        name="city"
        autocomplete="off"
        [pAutoFocus]="true"
        class="w-full lg:w-3/4 lg:mx-auto"
        #cityInput
        placeholder="New York"
      />
      <label for="city">City</label>
    </p-iftalabel>
    <p-button
      label="Submit"
      severity="contrast"
      class="hover:scale-105 duration-200 lg:hidden"
      type="submit"
      size="large"
    />
  </form>
  <div class="hidden lg:block w-auto">
    <ul class="list-none flex">
      <li class="text-primary-500 dark:text-primary-400">
        <a
          href="https://www.linkedin.com/in/alejandrosanchezgarcia/"
          target="_blank"
        >
          <i
            class="fa-brands fa-square-linkedin text-4xl cursor-pointer hover:scale-105 duration-200"
          ></i>
        </a>
      </li>
      <li class="text-primary-500 dark:text-primary-400">
        <a href="https://github.com/alejandroszg" target="_blank">
          <i
            class="fa-brands fa-square-github text-4xl cursor-pointer hover:scale-105 duration-200"
          ></i>
        </a>
      </li>
    </ul>
  </div>
</header>
